/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  padding: 20px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* inline list copied from foundation 5 */
.inline-list {
  margin: 0 auto 0.94444rem auto;
  margin-left: -1.22222rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.right {
  float: right !important;
}

.inline-list > li {
  list-style: none;
  float: left;
  margin-left: 1.22222rem;
  display: block;
}

ul.hide_bullet
{
   list-style-type: none;
   padding-left: 2%;
}

.angular-google-map-container { height: 600px; }
