<div class="jumbotron">
  <h1 class="text-center">Take you to Science Park</h1><br/>
  <p class="lead">
  	<img class="center-block" src="../images/shuttle_bus.png" alt="shuttle bus"></img>
  	<p class="text-center">
    	Company shuttle buses take you to office in less than 30 minutes. 
    </p>
  </p>

  <!-- http://stackoverflow.com/questions/22481463/div-not-center-using-class-center-block-in-bootstrap -->
  <div class="text-center">
  	<p class="center-block">
	  	<button type="button" class="btn btn-success" ng-click="scrollToElement('learn_more')">
	  		Learn More
	  	</button>
  	</p>
  	<!-- https://github.com/mdo/github-buttons -->
  	<iframe allowtransparency="true" frameborder="0" scrolling="no"
  		src="//platform.twitter.com/widgets/follow_button.html?screen_name=con_leung&show_count=true"
  		style="width:200px; height:20px;"></iframe>
  	<iframe src="http://ghbtns.com/github-btn.html?user=railsstudent&repo=angular-route-map&type=watch"
  		allowtransparency="true" frameborder="0" scrolling="0" width="50" height="20" ></iframe>
  	<iframe src="http://ghbtns.com/github-btn.html?user=railsstudent&type=follow"
    		allowtransparency="true" frameborder="0" scrolling="0" width="145" height="20"></iframe>
  	<iframe src="http://ghbtns.com/github-btn.html?user=railsstudent&repo=angular-route-map&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="50" height="20"></iframe>
    <h3 class="text-center">
        * Always show your staff card or driver can refuse to let you get on board of the vehicle. *
    </h3>
  </div>
</div>

<span id="learn_more"></span>
 <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Morning Shuttle Bus Arrangement</h2>
          <p class="text-justify">Located along Tolo Harbour, the choices of public transit to Hong Kong Science Park are very limited. Several MTR and bus transfers need to be made in order to arrive to the venue.  Furthermore, public transit time can exceed an hour for staff who lives far from the office.</p>
          <p class="text-justify">To reduce travelling time and eliminate excessive gas transmission, company provides morning shuttle buses for staff to take to work. The coverage of bus routes include Hong Kong East/West, Kowloon East/West, New Territory South/North and Kowloon Tong; therefore, staff can get on board at designated stops and sit comfortably until bus parks outside of "Gold Egg". </p>
          <p class="text-justify">The capacity of the bus is <b>50</b> passengers, so not having a seat is not a concern at all. Most of the time, we can occupy two seats and place our belonging adjacent to us.  </p>
          <p><button type="button" class="btn btn-default" ui-sref="morning_route">View routes <span class="glyphicon glyphicon-arrow-right"></button></p>
        </div>
        <div class="col-md-6">
          <h2>Evening Shuttle Bus Arrangement</h2>
          <p class="text-justify">Shuttle buses depart from Science Park office at 6 PM sharp and take expressways to travel to various stops in Hong Kong Island, Kowloon and New Territories.  Each route has two to three drop off points for which staff can get off at location that is closest to their next destination. If staff stays after normal office hour, minivan service is arranged for pick up at 6:30 PM and 7:30 PM respectively. </p>
          <p><button type="button" class="btn btn-default" ui-sref="evening_route">View routes <span class="glyphicon glyphicon-arrow-right"></button></p>
       </div>
      </div>
