<div class="container-fluid">
	<form role="form" class="form-inline">
  		<div class="form-group">
  			<div class="row">&nbsp;</div>

  			<alert  ng-show="errMsg" type="danger" close="closeAlert()">{{errMsg}}</alert>

			<label for="selectShift">Select Shift:&nbsp;&nbsp;&nbsp;</label>
			<select class="form-control nullable" 
				ng-model="dropDownOptions.selectedShift"
				ng-options="shift for shift in dropDownOptions.shifts"
				ng-change="chooseShift(dropDownOptions.selectedShift)" ng-disabled="true">
				<option value=""></option>
			</select>
			<label for="selectRoute">Select Route:&nbsp;&nbsp;&nbsp;</label>
			<select class="form-control" 
				ng-disabled="dropDownOptions.disabled"
				ng-model="dropDownOptions.selectedRoute"
				ng-change="chooseRoute(dropDownOptions.selectedRoute.id)"
				ng-options="route.name for route in dropDownOptions.routeArray track by route.id">
				<!-- http://stackoverflow.com/questions/15326164/setting-the-selected-item-in-angularjs-select-directive -->
			</select>
  			<div class="row">&nbsp;</div>
		</div>
	</form>
	<div class="row">
		<div class="col-md-8">
			<google-map center="map.center" zoom="map.zoom" control="map.control" options="map.options"  draggable="true"></google-map>
		</div>
		<div class="col-md-4">
			<div id="directionsPanel" class="directions_panel"></div>
		</div>
	</div>	
</div>
