<div class="container-fluid">
	<h2><u>{{title}}</u></h2>
	<p>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Route Summary</h3>
			</div>

  			 <!-- Table -->
			  <table class="table table-responsive table-hover table-bordered">
			    <tr>
			    	<th>No.</th><th>Name</th><th>Route</th><th>Number of stops</th>
			    </tr>
			    <tr ng-repeat="route in routes">
			    	<td>{{$index+1}}.</td><td>{{route.name}}</td>
			    	<td>{{route.description}}</td><td>{{route.stop}}</td>
			    </tr>
			  </table>	
		</div>
		<button type="button" class="btn btn-info" ui-sref="route_map">Route Map</button>
	</p>
</div>
