<!-- https://github.com/nlaplante/angular-google-maps/blob/master/example/example.html -->
<div class="container-fluid">
	<h2><u>{{title}}</u></h2>
	<p>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Route Summary</h3>
			</div>

  			 <!-- Table -->
			  <table class="table table-responsive table-hover table-bordered">
			    <tr>
			    	<th>No.</th><th>Name</th><th>Route</th><th>Number of stops</th>
			    </tr>
			    <tr ng-repeat="route in routes">
			    	<td>{{$index+1}}.</td><td>{{route.name}}</td>
			    	<td>
			    		{{route.description}}  
			    		<a href ng-click="setShowButtonText($index)">{{  showButton[$index].text  }}</a> |
			    		<a href ng-click="gotoRoute(route.id)">{{  config.show_route_text  }}</a>
			    		<ul class='hide_bullet' ng-show="!showButton[$index].collapse">
			    			<li ng-repeat='my_stop in route.stop_name'>
			    				{{$index + 1}}. {{my_stop.name}} <b>{{my_stop.time}}</b>
			    			</li>
			    		</ul>
			    	</td>
			    	<td>{{route.stop}}</td>
			    </tr>
			  </table>	
		</div>
		<button type="button" class="btn btn-default" ui-sref="route_map({ routeType : config.prefix.routeType, shiftName : config.prefix.shiftName })">
			Route Map <i class="fa fa-road"></i>
		</button>
	</p>
</div>
